---
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import { urlSafeTransform } from "~/utils";

const posts = await getCollection("blog");
---

<Layout>
    <div class="w-full flex flex-col pt-16 px-4 mb-auto">
        <h2>Post Archive:</h2>
        <ul class="pl-2">
            {
                posts.map(post => (
                    <li class="btn my-2">
                        <a href={"/blog/" + urlSafeTransform(post.data.title)}>
                            {post.data.title}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</Layout>
