---
import Layout from "~/layouts/Layout.astro";
---

<Layout>
    <div class="m-auto w-full flex flex-col items-center justify-center pt-10">
        <h1>Oops! Page not found.</h1>
        <button class="btn mt-10 btn-lg"><a href="/">Go Home?</a></button>
    </div>
</Layout>
